body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#title {
    background-color: #000000;
}

#gallery {
    background-color: #000000;
}   

#resume {
    background-color: #000000;
}   

h1 {
    font-family: 'Oswald';
    font-weight: light;
    font-size: 3rem;
    line-height: 1.5;
    color: #ffffff;
}

h2 {
    font-family: 'Outfit';
    font-size: 1.5;
    font-weight: bold;
    color: #ffffff;
}

h3 {
    font-family: 'Outfit';
    font-weight: bold;
    color: #ffffff;
}

p {
    font-family: "Oswald", sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
}

ul {
    font-family: "Oswald", sans-serif;
    font-size: 0.9rem;
    color: #ffffff;
}

.introRow{
    padding: 12rem 0% 19rem;
    text-align: center;
}

.navbar {
    padding: 1rem 3rem;
}

.navbar-brand {
    font-family: 'Oswald';
    font-weight: light;
    font-size: 2.5rem;
    color: #ffffff !important;
}

.navbar-item {
    padding: 0 18px;
}   

.nav-link {
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    color: #ffffff !important;
}

.section-title{
    font-family: "Oswald", sans-serif;
    text-align: center;
    color: #ffffff;
    padding: 3.5rem 0rem 7rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 3.5rem;
    transition:transform 0.35s ease, filter 0.35s ease;
}

img:hover {
    transform: scale(1.03);
    filter: brightness(1.15);
}

.MyPhoto{
    border-radius: 30px;
}

#footer {
    padding: 7% 15%;
    text-align: center;
    background-color: #000000;
}
